**/.DS_Store
**/__pycache__/
**/*.pyc
**/venv/
**/.venv/
**/node_modules/
**/target/
**/dist/
**/build/
**/.idea/
**/.vscode/
**/*.log
**/.git_backup/
**/.git_local_backup
major_project_fullstack/storage/.cache/
major_project_fullstack/storage/.mpl/
major_project_fullstack/storage/results/.runtime/
Crowd-Gathering-Detection-main/alerts/
Crowd-Anomaly-Detection-master/5.mp4
Crowd-Anomaly-Detection-master/7.mp4
